/* File: src/StarRating.css */

.rating-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stars button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0 2px;
}

.stars .star {
    font-size: 1.8rem;
    transition: color 0.2s;
}

.stars .off .star {
    color: var(--border-color);
}

.stars .on .star {
    color: #f39c12; /* Star Yellow */
}

/* The "Rate" button */
.button-rate {
    background-color: var(--primary-color);
    color: white;
}
.button-rate:hover {
    background-color: var(--primary-color-dark);
}
.button-rate:disabled {
    background-color: var(--back-button-color);
    cursor: not-allowed;
    opacity: 0.7;
}
